body{
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

.header{
    width: 100%;
    background: #f45110;
    min-height: 50px;
}
.logo{
    display: inline-block;
    float: left;
}

.logo img{
    width: 30px;
    height: 30px;
}

.app_title{
    color: white;
    width: 300px;
    margin: 0px auto;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}

/*******************start content relative.html**********************/
.content{
    width: 100%;
    position: relative;
}

.me{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url("../images/me.png") no-repeat center;
    top: 150px;
    left: 12%;
}

.partner{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 55%;
}

.lace{
    width: 50px;
    height: 50px;
    background-color: #800080;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    left: 65%;
}

.soap{
    width: 50px;
    height: 50px;
    background-color: #190ef9;
    border-radius: 50px;
    position: absolute;
    top: 360px;
    left: 50%;
}

.parents{
    width: 50px;
    height: 50px;
    background-color: #f3811c;
    border-radius: 50px;
    position: absolute;
    top: 50px;
    left: 35%;
}

.children{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    top: 350px;
    left: 15%;
}

/*******************end content relative.html**********************/

.relation-node{
    color: white;
    font-weight: bold;
    padding: 3px 3px;
    text-align: center;
    width: 60px;
    height: 60px;
    z-index: 7;
}

.relation-node div:not(.main-btn){
    color: black;
}

.relation-node div{
    margin-top: 20px;
}


/***********************start message.html****************************/
.message-block{
    width: 80%;
    height: 300px;
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
    overflow-y: auto;
    border-radius: 5px;
    position: relative;
}
.msg-list .message-block:last-child{
    margin-bottom: 60px;
}
.ms-content{
    width: 100%;
    height: 100%;
}

.left{
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 1px 1px 3px #cdcdcd;
}
.right{
    margin-top: 10px;
    margin-left: 50px;
    box-shadow: -1px 1px 3px #cdcdcd;
}
.add-ms-btn{
    width: 48px;
    height: 48px;
    font-size: 48px;
    text-align: center;
    /*border: 1px solid #CDCDCD;*/
    color: #e81515;
    position: fixed;
    bottom: 10px;
}
.spare-input{
    display: none;
}
.cancel-edit{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#send-btn{
    width: 48px;
    height: 48px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #CDCDCD;
    color: #e81515;
    position: fixed;
    bottom: 10px;
    border-radius: 48px;
    background-color: #cecece;
    display: none;
}
/***********************end message.html****************************/

/************start detailmsg.html**************/
.msg-detail{
    width: 100%;
    height: 300px;
    margin: 10px auto;
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 1px 1px 3px #cdcdcd;
}
.receive-btn-group input{
    background-color: white;
    border: 1px solid #cdcdcd;
    padding: 3px 8px;
    font-size: 16px;
}
/************end detailmsg.html**************/