body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header{
    width: 100%;
    background: #f45110;
    min-height: 50px;
}
.logo{
    display: inline-block;
    float: left;
}

.logo img{
    width: 30px;
    height: 30px;
}

.back-btn{
    position: absolute;
    left: 2%;
    top: 10px;
    width: 0px;
    height: 0px;
    border: 15px solid #efefef;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    cursor:pointer;
}
.back-btn:before{
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 15px solid #f45110;
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
    left: -10px;
    top: -15px;
}

.app_title{
    color: white;
    width: 300px;
    margin: 0px auto;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
}

/****************************** start register.html *********************************/

/********** start updateImgPos Div **************/

#updateImgPos{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
    background-color: #ffffff;
}

.head-img-upload{
    width: 100%;
    height: 100%;
    background-color: rgba(102,108,105,0.6);
    position: relative;
}
.photo-frame{
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    position: absolute;
    /*top: -webkit-calc(50% - 50px);*/
    /*top: calc(50% - 50px);*/
    /*left: -webkit-calc(50% - 50px);*/
    /*left: calc(50% - 50px);*/
    z-index: 100;
}
/*.photo-frame{*/
/*width: 50px;*/
/*height: 50px;*/
/*border: 1px solid #ffffff;*/
/*position: absolute;*/
/*top: calc(50% - 25px);*/
/*left: calc(50% - 25px);*/
/*z-index: 100;*/
/*}*/
.photo-carrier{
    position: absolute;
    /*width:300px;height:300px;*/
    /*background: url("./images/lips.jpg") center no-repeat;*/
    /*background-size: 400px;*/
    /*z-index: 10;*/
}

#fixImg{
    position: absolute;
    right: 10px;
    top: 10px;
}

/********** end updateImgPos Div **************/


/****************************** end register.html *********************************/

/***************start login.html*****************/
.mainContent input{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    font-size: 24px;
}
.search-input:focus{
    outline: none;
}
.search-input{
    border: white;
    border-bottom: 1px solid;
    position: relative;
}


/***************start login.html*****************/

/***************start humans.html*****************/
.relative{
    width: 68px;
    text-align: center;
    float: left;
    margin-left: 10px;
}
.photo{
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    border-radius: 50px;
    padding: 8px;
    background: url("../images/me.png") no-repeat center;
    position: relative;
}
.newRelation{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    background:rgba(225,225,225,0.6);
}
.newRelation:before{
    content: "+";
    position: absolute;
    color: red;
    top: 0px;
    right: 0px;
    font-weight: bolder;
}

.waiting{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    background:rgba(225,225,225,0.6);
    text-align: center;
}
/***************end humans.html*****************/

/*******************start content relative.html**********************/
.content{
    width: 100%;
    position: relative;
}

.me{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url("../images/me.png") no-repeat center;
    top: 150px;
    left: 12%;
}

.partner{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50px;
    position: absolute;
    top: 150px;
    left: 55%;
}

.lace{
    width: 50px;
    height: 50px;
    background-color: #800080;
    border-radius: 50px;
    position: absolute;
    top: 250px;
    left: 65%;
}

.soap{
    width: 50px;
    height: 50px;
    background-color: #190ef9;
    border-radius: 50px;
    position: absolute;
    top: 360px;
    left: 50%;
}

.parents{
    width: 50px;
    height: 50px;
    background-color: #f3811c;
    border-radius: 50px;
    position: absolute;
    top: 50px;
    left: 35%;
}

.children{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50px;
    position: absolute;
    top: 350px;
    left: 15%;
}
.remind-tag:before{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: 1px solid red;
    border-radius: 6px;
    background-color: red;
    right: 0;
    top: 0;
}

/*******************end content relative.html**********************/

.relation-node{
    color: white;
    font-weight: bold;
    padding: 3px 3px;
    text-align: center;
    width: 60px;
    height: 60px;
    z-index: 7;
}

.relation-node div:not(.main-btn){
    color: black;
}

.relation-node div{
    margin-top: 20px;
}


/***********************start message.html****************************/
.message-block{
    width: 66%;
    height: 300px;
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
    overflow-y: auto;
    border-radius: 5px;
    position: relative;
    overflow-x: hidden;
}
.msg-list .message-block:last-child{
    margin-bottom: 60px;
}
.ms-content{
    width: 95%;
    height: 100%;
    word-break: break-all;
}

.x-hidden{
    overflow-x: hidden;
}

.edit-finish-block{
    padding: 8px 8px;
}

.left{
    margin-top: 10px;
    margin-left: 2%;
    box-shadow: 1px 1px 3px #cdcdcd;
}
.right{
    margin-top: 10px;
    margin-left: 32%;
    box-shadow: -1px 1px 3px #cdcdcd;
}
.left:before{
    content: "";
    height: 0px;
    width: 0px;
    border: 8px #e2e2e2 solid;
    border-left: 8px transparent solid;
    border-top: 4px transparent solid;
    border-bottom: 8px transparent solid;
    position: absolute;
    left: -16px;
    top: 6px;
}

.right:before{
    content: "";
    height: 0px;
    width: 0px;
    border: 8px #e2e2e2 solid;
    border-right: 8px transparent solid;
    border-top: 4px transparent solid;
    border-bottom: 8px transparent solid;
    position: absolute;
    right: -16px;
    top: 6px;
}

.add-ms-btn{
    width: 48px;
    height: 48px;
    font-size: 48px;
    text-align: center;
    /*border: 1px solid #CDCDCD;*/
    color: #e81515;
    position: fixed;
    bottom: 10px;
}
.spare-input{
    display: none;
}
.cancel-edit{
    width: 16px;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#send-btn{
    width: 48px;
    height: 48px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #CDCDCD;
    color: #e81515;
    position: fixed;
    bottom: 10px;
    border-radius: 48px;
    background-color: #cecece;
    display: none;
}

.exlamation:before{
    content: "!";
    font-size: 24px;
    position: absolute;
    left: -26px;
    bottom: 0px;
    color: red;
}

.sending{
    font-size: 24px;
    position: absolute;
    left: -26px;
    bottom: 0px;
    color: #CDCDCD;
}

.msg_reply_btn_group{
    position: absolute;
    right: -50px;
    bottom: 0;
}
.msg_reply_btn{
    display: inline-block;
    float: left;
    padding: 3px;
    /*border: 1px solid blue;*/
    margin-left: 3px;
    cursor: pointer;
}

.msg_reply_mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(225,225,225,0.5);
    text-align: center;
    top: 0;
    left: 0;
}

.icon-heart{
    color: red;
}

.icon-heart-empty{
    color: red;
}

.reject-heart{
    position: absolute;
    height: 0px;
    width: 0px;
    border-top: 23px white solid;
    border-right: 2px transparent solid;
    border-left: 2px transparent solid;
    border-bottom: 10px transparent solid;
    top: 6px;
    right: 8px;
}

.broke-heart{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0 auto;
}

.broke-effect{
    position: absolute;
    height: 0px;
    width: 0px;
    border-top: 34px white solid;
    border-right: 3px transparent solid;
    border-left: 3px transparent solid;
    border-bottom: 9px transparent solid;
    top: 2px;
    right: 10px;
}

.broke-effect-var{
    font-size: 30px;
    top: 2px;
    right: 12px;
}

/***********************end message.html****************************/

/************start detailmsg.html**************/
.msg-detail{
    width: 100%;
    height: 300px;
    margin: 10px auto;
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
    overflow-y: auto;
    box-shadow: 1px 1px 3px #cdcdcd;
}
.receive-btn-group input{
    background-color: white;
    border: 1px solid #cdcdcd;
    padding: 3px 8px;
    font-size: 16px;
}
/************end detailmsg.html**************/

/*************start addRelation****************/

.sr-head-icon{
    width: 50px;
    height: 50px;
    background: url("../images/me.png") no-repeat center;
}
.sr-row{
    display: inline-block;
    float: left;
    /*border: 1px solid red;*/
}
.search-record{
    width: 100%;
    height: 50px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #dedede;
}
.add-attention{
    padding: 3px 8px;
    border:1px solid lawngreen;
    background-color: lawngreen;
    border-radius: 10px;
}
.sr-desc{
    float: right;
}

@media screen and (max-width: 360px) {
    .search-input{
        width: 80%;
        font-size: 16px;
    }
    .search-group .icon-search{
        font-size: 24px;
    }
    #search-user{
        font-size: 16px;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .search-input{
        width: 85%;
        font-size: 24px;
    }
    .search-group .icon-search{
        font-size: 26px;
    }
    #search-user{
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width:920px) {

}


/*************end addRelation****************/

/*******************start 适配 global************************/
.cell-xs-1{width: 8.33333%;}.cell-xs-2{width: 16.66667%;}.cell-xs-3{width: 25%;}.cell-xs-4{width: 33.33333%;}.cell-xs-5{width: 41.66667%;}.cell-xs-6{width: 50%;}
.cell-xs-7{width: 58.33333%;}.cell-xs-8{width: 66.6666667%;}.cell-xs-9{width: 75%;}.cell-xs-10{width: 83.33333%;}.cell-xs-11{width: 91.66667%;}.cell-xs-12{width: 100%;}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .cell-sm-1{width: 8.33333%;}.cell-sm-2{width: 16.66667%;}.cell-sm-3{width: 25%;}.cell-sm-4{width: 33.33333%;}.cell-sm-5{width: 41.66667%;}.cell-sm-6{width: 50%;}
    .cell-sm-7{width: 58.33333%;}.cell-sm-8{width: 66.6666667%;}.cell-sm-9{width: 75%;}.cell-sm-10{width: 83.33333%;}.cell-sm-11{width: 91.66667%;}.cell-sm-12{width: 100%;}
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .cell-md-1{width: 8.33333%;}.cell-md-2{width: 16.66667%;}.cell-md-3{width: 25%;}.cell-md-4{width: 33.33333%;}.cell-md-5{width: 41.66667%;}.cell-md-6{width: 50%;}
    .cell-md-7{width: 58.33333%;}.cell-md-8{width: 66.6666667%;}.cell-md-9{width: 75%;}.cell-md-10{width: 83.33333%;}.cell-md-11{width: 91.66667%;}.cell-md-12{width: 100%;}
}

.show-grid [class^=cell-]{
    padding-top: 10px;
}

.border-box,*{
    box-sizing: border-box;
}
/*******************end 适配 global************************/
